.features {
  padding-bottom: 150px;

  border-bottom: 1px solid rgba($color: $color-black, $alpha: 0.1);

  &__list {
    display: flex;

    list-style: none;
  }

  &__item {
    position: relative;

    padding-left: 100px;

    &::after {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;

      background-position: 0 0;
      background-repeat: no-repeat;
    }

    &:nth-of-type(1)::after{
      background-image: url('../assets/img/features-1.svg');
    }

    &:nth-of-type(2)::after{
      background-image: url('../assets/img/features-2.svg');
    }

    &:nth-of-type(3)::after{
      background-image: url('../assets/img/features-3.svg');
    }
  }

  &__title {
    margin-bottom: 10px;

    font-size: $font-size-24px;
    line-height: $line-height-28px;
  }

  &__text {
    font-size: $font-size-14px;
    line-height: 150%;
    font-weight: 300;
    color: $color-black;
  }
}

@media(max-width: 1024px) {
  .features {
    margin-top: 100px;
    
    &__item {
      margin-bottom: 30px;
      padding-left: 85px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::after {
        top: calc(30% - 60px/2);
        left: 15px;

        width: 60px;
        height: 60px;

        background-size: 60px 60px;
      }
    }
  }
}

@media(max-width: 768px) {
  .features {
    padding-bottom: 50px;
  }
}