<footer class="page-footer">
  <div class="container">
    <div class="page-footer__body">
      <div class="logo">
        <img src="assets/img/logo-purple.svg" alt="logo">
      </div>

      <p class="page-footer__text">
        Safe and fast web serfing with our extension.
        <button class="page-footer__button--download">Download</button>
      </p>

      <p class="page-footer__copyright">
        © Copyright SecuritiX, 2019
      </p>
    </div>
  </div>
</footer>
<script src="assets/vendor/swiper/js/swiper.min.js"></script>
<script src="assets/js/scripts.min.js"></script>