<div class="bg-img">
<header class="page-header">
  <div class="container">
    <nav class="page-header__body">
      <div class="row align-items-center">
        <div class="col-12 col-md-2 page-header__logo">
          <img class="logo" src="assets/img/logo-green.svg" alt="logo">

          <button class="page-header__button--menu" id="btnMenu" type="button"></button>
        </div>

        <ul class="col-md-5 offset-md-1 offset-lg-2 page-header__nav-menu nav-menu">
          <li class="nav-menu__item">
            <a href="" class="nav-menu__link">Home</a>
          </li>
          <li class="nav-menu__item">
            <a href="#Reviews" class="nav-menu__link">Reviews</a>
          </li>
          <li class="nav-menu__item">
            <a href="#Prices" class="nav-menu__link">Prices</a>
          </li>
          <li class="nav-menu__item">
            <a href="#Contacts" class="nav-menu__link">Contacts</a>
          </li>
        </ul>

        <div class="nav-menu__info">
          <p class="nav-menu__info-title">
            About extension
          </p>
          <p class="nav-menu__info-text">
            Safe and fast web serfing with our extension.
          </p>
          <p class="nav-menu__info-link">
            Download the app
          </p>
        </div>

        <div class="col-md-1 offset-md-2 page-header__wrapper-button">
            <button class="button page-header__button--sign-in">Sign In</button>
        </div>
      </div>
    </nav>
  </div>
</header>